.imageslide1 {
    background-image: url("img/CREATE_FOR_LIVE_sans_fond.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header {
    font-family: Poppins;
}
.Logo1 {
    width: 65px
}
.image_footer {
    background-image: url("img/Rectangle 17.jpg");
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.Logo2 {
    width: 200px
}