.imageslide1 {
    background-image: url("img/CREATE_FOR_LIVE_sans_fond.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header {
    font-family: Poppins;
}
.Logo1 {
    width: 65px
}